// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card-partial-content{
  padding-top:50px;
  padding-bottom: 50px;
  border: 2px solid black;
  text-align: center;
  background-color: white;
}



