// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#instruction-bar {
  text-align: center;
}

#next-button{

}

#previous-button{

}

.btn-control{
  width: 100px;

}
