<div class="container">
  <div class="row">
    <%= link_to "Courses", courses_path, class: "span5 nav-header btn" %>
    <%= link_to "Decks", decks_path, class: "span5 nav-header btn pull-right" %>
  </div>
</div>